.container {
    display:flex;
    justify-content: center;
    text-align: center;
    margin:10px;
    padding:10px;
}

.text {
    text-align:center;
    padding:10px;
    margin:10px;
}

.button {
    display:flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

.settingList {
    list-style-type: none;
    text-align:center;
    padding:0;
    color: black;
    margin-top:-20px;
}

.settingsButton {
    border: 1px solid rgb(139, 139, 139);
    background-color:white;
    font-size:16px;
    padding:8px;
    width:150px;
    border-radius:5px;
}

.list {
    color: black;
    margin: 10px;
    padding:5px;
    font-size:25px;
}

.listA {
    text-align:center;
    margin: 10px;
}

.loginButton {
    width:300px;
    margin: 20px;
    padding: 10px;
    font-size: 24px;
    border: 1px solid rgb(185, 202, 212);
    border-radius: 5px;
    background-color: white;
    color: #4596CC;
}

.addIcon:hover {
    cursor:pointer;
}