.today {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todayImage {
    width: 100%;
    height: auto;
}

.todayTemp{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content:center;
}

.underLine {
    display: flex;
}

.forcastContainer {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.forcastDay {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.forcastImage {
    width: 50%;
    height: auto;
    align-self: center;
}