@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.what {
    /* height:170px; */
    margin:0;
    padding:0;
    background-color: #4596CC;
    text-align:center;
}

.logo {
    text-align: center;
    margin:0;
    margin-right:30px;
    padding: 5px;
    padding-bottom: 30px;
    color: white;
    font-family: 'Pacifico';
    font-weight: 50;
    font-size: 60px;
}

.list {
    padding:5px;
    margin:10px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    font-family: 'Quicksand';
}

.activeLink {
    border-radius: 7px;
    background-color: white;
    color:#4596CC;
}

.list:hover {
    text-decoration:none;
    color: rgb(43, 43, 43);
}

.google {
    background-color: #4596CC;
    padding-top:10px;
}
